<!DOCTYPE html>
<html>
  <body>
    <center>
      <h2> Enter your URL </h2>
      <form action = "shortened_urls/create", method = "post">
        <input type = "text", value= "", name= "original_url">
        <input type = "submit" value = "Submit">
        <%= flash[:error] %>
        <div class= "errors"> <%=@url.errors.full_messages%></div>
      </form>
    </center>
  </body>
  </html>


  use rails form helper here. 
